// Colors
$clr1:#2b3149; //כחול כהה
$clr2:#7f8b8f; //אפור כהה
$clr3: #5bcbf3; //תכלת
$clr4: #a20202;//אדום
// $clr5:;
// $clr6:;
// $clr7:;

// $gray1: #ddd;
// $gray2: #aaa;
// $gray3: #777;
// $gray4: #333;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;